n8n/followup_reminder.json
{
  "name": "LJR.devOS — Follow-up Reminder",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "0 1 * * *" }]
        }
      },
      "id": "b1b2c3d4-0002-0002-0002-000000000001",
      "name": "Trigger 9am PHT",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "operation": "getAllRows",
        "documentId": { "__rl": true, "value": "={{ $env.LJROS_SHEETS_ID }}", "mode": "id" },
        "sheetName": { "__rl": true, "value": "APPLICATIONS", "mode": "name" },
        "options": {}
      },
      "id": "b1b2c3d4-0002-0002-0002-000000000002",
      "name": "Read Applications",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [450, 300],
      "credentials": { "googleSheetsOAuth2Api": { "id": "google-sheets-cred", "name": "Google Sheets" } }
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": false },
          "conditions": [
            { "id": "cond-01", "leftValue": "={{ $json['Replied'] }}", "rightValue": "Yes", "operator": { "type": "string", "operation": "notEquals" } },
            { "id": "cond-02", "leftValue": "={{ $json['Follow-up Date'] }}", "rightValue": "", "operator": { "type": "string", "operation": "notEquals" } },
            { "id": "cond-03", "leftValue": "={{ new Date($json['Follow-up Date']) <= new Date() }}", "rightValue": "true", "operator": { "type": "string", "operation": "equals" } }
          ],
          "combinator": "and"
        }
      },
      "id": "b1b2c3d4-0002-0002-0002-000000000003",
      "name": "Filter Due Follow-ups",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [{ "id": "cond-04", "leftValue": "={{ $input.all().length }}", "rightValue": 0, "operator": { "type": "number", "operation": "gt" } }]
        }
      },
      "id": "b1b2c3d4-0002-0002-0002-000000000004",
      "name": "Has Follow-ups?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "field-001",
              "name": "message",
              "value": "=📬 *Follow-ups Due Today* ({{ $input.all().length }})\n\n{{ $input.all().map(r => `• *${r.json.Employer}* — ${r.json.Role} (${r.json.Platform}) — Applied: ${r.json.Date}`).join('\\n') }}\n\nRun /followup for details.",
              "type": "string"
            }
          ]
        }
      },
      "id": "b1b2c3d4-0002-0002-0002-000000000005",
      "name": "Build Message",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [1050, 220]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_TOKEN }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"chat_id\": \"{{ $env.OWNER_TELEGRAM_ID }}\",\n  \"text\": \"{{ $json.message }}\",\n  \"parse_mode\": \"Markdown\"\n}"
      },
      "id": "b1b2c3d4-0002-0002-0002-000000000006",
      "name": "Send to Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1250, 220]
    }
  ],
  "connections": {
    "Trigger 9am PHT": { "main": [[{ "node": "Read Applications", "type": "main", "index": 0 }]] },
    "Read Applications": { "main": [[{ "node": "Filter Due Follow-ups", "type": "main", "index": 0 }]] },
    "Filter Due Follow-ups": { "main": [[{ "node": "Has Follow-ups?", "type": "main", "index": 0 }]] },
    "Has Follow-ups?": { "main": [[{ "node": "Build Message", "type": "main", "index": 0 }], []] },
    "Build Message": { "main": [[{ "node": "Send to Telegram", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "versionId": "b1b2c3d4-0002-0002-0002-000000000099",
  "meta": { "templateCredsSetupCompleted": false },
  "id": "ljros-followup-reminder",
  "tags": [{ "id": "tag-001", "name": "ljr-devos" }]
}
