n8n/skills_extractor.json
{
  "name": "LJR.devOS — Skills Extractor",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "extract-skills",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "c1b2c3d4-0003-0003-0003-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "ljros-extract-skills"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "=Bearer {{ $env.GROQ_API_KEY }}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"llama-3.3-70b-versatile\",\n  \"messages\": [\n    {\"role\": \"system\", \"content\": \"Extract all technical skills and tools from this job post. Return a JSON array of skill strings only. No explanation.\"},\n    {\"role\": \"user\", \"content\": \"{{ $json.body.job_post }}\"}\n  ],\n  \"max_tokens\": 200,\n  \"response_format\": {\"type\": \"json_object\"}\n}"
      },
      "id": "c1b2c3d4-0003-0003-0003-000000000002",
      "name": "Extract Skills via Groq",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "const raw = JSON.parse($input.first().json.choices[0].message.content);\nconst skills = Array.isArray(raw) ? raw : (raw.skills || Object.values(raw)[0] || []);\nreturn skills.map(s => ({ json: { skill: String(s).trim() } }));"
      },
      "id": "c1b2c3d4-0003-0003-0003-000000000003",
      "name": "Parse Skills Array",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "operation": "getAllRows",
        "documentId": { "__rl": true, "value": "={{ $env.LJROS_SHEETS_ID }}", "mode": "id" },
        "sheetName": { "__rl": true, "value": "SKILLS", "mode": "name" },
        "options": {}
      },
      "id": "c1b2c3d4-0003-0003-0003-000000000004",
      "name": "Read Skills Tab",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [850, 300],
      "credentials": { "googleSheetsOAuth2Api": { "id": "google-sheets-cred", "name": "Google Sheets" } }
    },
    {
      "parameters": {
        "jsCode": "const existingSkills = $('Read Skills Tab').all().map(r => r.json.Skill?.toLowerCase());\nconst newSkills = $('Parse Skills Array').all().map(r => r.json.skill);\nconst toAdd = newSkills.filter(s => !existingSkills.includes(s.toLowerCase()));\nconst toUpdate = newSkills.filter(s => existingSkills.includes(s.toLowerCase()));\nreturn [{ json: { new_skills: toAdd, update_skills: toUpdate, all_skills: newSkills } }];"
      },
      "id": "c1b2c3d4-0003-0003-0003-000000000005",
      "name": "Diff Skills",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { skills_extracted: $json.all_skills, new: $json.new_skills, updated: $json.update_skills } }}"
      },
      "id": "c1b2c3d4-0003-0003-0003-000000000006",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1250, 300]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Extract Skills via Groq", "type": "main", "index": 0 }]] },
    "Extract Skills via Groq": { "main": [[{ "node": "Parse Skills Array", "type": "main", "index": 0 }]] },
    "Parse Skills Array": { "main": [[{ "node": "Read Skills Tab", "type": "main", "index": 0 }]] },
    "Read Skills Tab": { "main": [[{ "node": "Diff Skills", "type": "main", "index": 0 }]] },
    "Diff Skills": { "main": [[{ "node": "Respond", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "versionId": "c1b2c3d4-0003-0003-0003-000000000099",
  "meta": { "templateCredsSetupCompleted": false },
  "id": "ljros-skills-extractor",
  "tags": [{ "id": "tag-001", "name": "ljr-devos" }]
}
